<section class="vh-100 gradient-custom">
    <div class="container py-0 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-0 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <div class="container" *ngIf="edu">
                                <div class="row">
                                    <div>
                                        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                                            <div class="form-group">
                                                <label for="nombreE">Nombre del establecimiento</label>
                                                <input type="text" class="form-control" id="nombreEd" name="nombreEd"
                                                    [(ngModel)]="edu.nombreEd" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="descripcionEd">Estudios realizados</label>
                                                <input type="text" class="form-control" id="descripcionEd"
                                                    name="descripcionEd" [(ngModel)]="edu.descripcionEd" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="estadoEd">Estado de la educacion</label>
                                                <input type="text" class="form-control" id="estadoEd" name="estadoEd"
                                                    [(ngModel)]="edu.estadoEd" required>
                                            </div>
                                            <button class="btn btn-primary">
                                                Actualizar
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>