<div class="row">
    <!--ver este errror de las columnas-->
        <h1>Educación</h1>
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <ul>
                <li><h1>Educacion 1 </h1> -
                <h3>(years)</h3>
                </li>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut sequi commodi non. Dolorum culpa possimus quo tempore veritatis. Quibusdam nisi qui aut vitae deserunt at soluta sequi quod facere sint!
                </p>
            </ul>
            <ul>
            <li>
                <h1>Educacion 2 </h1> -
                <h3>(years)</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut sequi commodi non. Dolorum culpa possimus quo tempore veritatis. Quibusdam nisi qui aut vitae deserunt at soluta sequi quod facere sint!
            </p>
            </ul>
            <ul>
            <li>
                <h1>Educacion 3 </h1> -
                <h3>(years)</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut sequi commodi non. Dolorum culpa possimus quo tempore veritatis. Quibusdam nisi qui aut vitae deserunt at soluta sequi quod facere sint!
            </p>
            </ul>
        </div>
    
    </div>
