<div class="row">
    <div class="col-lg-11">
        <h1>Educacion </h1>
        <button title= "Nueva educacion" type="button" class="btn btn-secondary" routerLink="/nuevaedu" *ngIf="isLogged">
            <i class="bi bi-plus-lg"> </i>
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of edu">
                    <td>
                        <h2 id="nombreedu">{{Educacion.nombreEd}}</h2>
                    </td>
                    <td id="descripcionedu">{{Educacion.descripcionEd}}</td>
                    <td id="estadoedu">{{Educacion.estadoEd}}</td>
                    <td *ngIf="isLogged">
                        <button title= "Editar educacion" class="btn btn-light" routerLink="/editedu/{{Educacion.id}}">
                            <i class="bi bi-pencil-fill"></i></button>
                    </td>
                    <td *ngIf="isLogged">
                        <button title= "Eliminar educacion" class="btn btn-danger" (click)="delete(Educacion.id)">
                            <i class="bi bi-trash-fill"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    
    
    <!--ver este errror de las columnas
<div class="row">

        <h1>Educación</h1>
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <ul>
                <li><h1>Educacion 1 </h1> -
                <h3>(years)</h3>
                </li>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut sequi commodi non. Dolorum culpa possimus quo tempore veritatis. Quibusdam nisi qui aut vitae deserunt at soluta sequi quod facere sint!
                </p>
            </ul>
            <ul>
            <li>
                <h1>Educacion 2 </h1> -
                <h3>(years)</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut sequi commodi non. Dolorum culpa possimus quo tempore veritatis. Quibusdam nisi qui aut vitae deserunt at soluta sequi quod facere sint!
            </p>
            </ul>
            <ul>
            <li>
                <h1>Educacion 3 </h1> -
                <h3>(years)</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut sequi commodi non. Dolorum culpa possimus quo tempore veritatis. Quibusdam nisi qui aut vitae deserunt at soluta sequi quod facere sint!
            </p>
            </ul>
        </div>
    
    </div>
-->
