<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
        
        <img src="../../../assets/PerfilNew.PNG" class="img fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p id="titulo">{{persona.titulo}} </p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <!--aca iria la dir de base de datos de la foto-->
            <h1>Acerca de Mi</h1>
            <p id="acercade">{{persona.descripcion}}</p>
        </span>
        <button *ngIf="isLogged" title= "Editar perfil" class="btn btn-light" routerLink="/editar/{{persona.id}}">
            <i class="bi bi-pencil-fill"></i> </button>
    </div>
</div>