<div class="row">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/PerfilNew.PNG" class="img fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre"> Gerardo Gomez</p>
        <p id="titulo">Full Stack Develeper Junior</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
        <h1>Acerca de mí</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur fugit minima sunt nulla ad, et inventore maiores officia obcaecati labore corporis officiis odio? Fugiat, soluta vero illum harum assumenda iusto?</p>
        </span>
    </div>
</div>
