<div class="row">
    <div class="col-lg-12">
    <h1>HW & SW Skills </h1>
        <button title= "Nueva Skill" type="button" class="btn btn-secondary" routerLink="/nuevaskill" *ngIf="isLogged">
            <i class="bi bi-plus-lg"> </i>
        </button>
    </div>

    <div class="col lg 1">
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Skill of ski">-->
                    <div class="col-sm-3 col-md-3 col-lg-3" *ngFor="let Skill of ski">
                        <circle-progress
                            [percent]=Skill.porcentajeS
                            [radius]="80"
                            [showUnits]="false"
                            [title]=Skill.nombreS
                            [titleColor]="'Black'"
                            [titleFontSize]="'2em'"
                            [showSubtitle]="false"
                            [outerStrokeWidth]="16"
                            [innerStrokeWidth]="8"
                            [outerStrokeColor]="'#036B61'"
                            [innerStrokeColor]="'#00A99D'"
                            [animation]="true"
                            [animationDuration]="300"
                            >
                        </circle-progress>
                        <td *ngIf="isLogged">
                            <button title= "Editar skill" class="btn btn-light" routerLink="/editskill/{{Skill.id}}">
                                <i class="bi bi-pencil-fill"></i></button>
                            <button title= "Eliminar skill" class="btn btn-danger" (click)="delete(Skill.id)">
                                <i class="bi bi-trash-fill"></i></button>
                        </td>
                        <td *ngIf="isLogged">
                            <button title= "Eliminar skill" class="btn btn-danger" (click)="delete(Skill.id)">
                                <i class="bi bi-trash-fill"></i> Eliminar</button>
                        </td>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<!--<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress 
        [percent]="85"
        [radius]="80"
        [showUnits]="false"
        title="html"
        [titleColor]="'grey'"
        [titleFontSize]="'3em'"
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="5" 
        [outerStrokeColor]="'#036B61'"
        [innerStrokeColor]="'#00A99D'"
        [animation]="true" 
        [animationDuration]="600">
            ></circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <circle-progress 
        [percent]="85"
        [radius]="80"
        [showUnits]="false" 
        [title]="'html'" 
        [titleColor]="'grey'"
        [titleFontSize]="'3em'" 
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="5" 
        [outerStrokeColor]="'#036B61'"
        [innerStrokeColor]="'#00A99D'" 
        [animation]="true" 
        [animationDuration]="600">
            ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress 
        [percent]="85" 
        [radius]="80" 
        [showUnits]="false" 
        [title]="'html'" 
        [titleColor]="'grey'"
        [titleFontSize]="'3em'" 
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="5" 
        [outerStrokeColor]="'#036B61'"
        [innerStrokeColor]="'#00A99D'" 
        [animation]="true" 
        [animationDuration]="600">
            ></circle-progress>
    </div>

</div>

-->