<div class="row">
    <div class="col-lg-11">
    <h1>Experiencia laboral </h1>
        <button title= "Nueva experiencia" type="button" class="btn btn-secondary" routerLink="/nuevaexp" *ngIf="isLogged">
            <i class="bi bi-plus-lg"> </i> 
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td>
                        <h2 id="nombreexp">{{Experiencia.nombreE}}</h2>
                    </td>
                    <td id="descripcionexp">{{Experiencia.descripcionE}}</td>
                    <td *ngIf="isLogged">
                        <button title= "Editar experiencia" class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}">
                            <i class="bi bi-pencil-fill"></i> </button>
                    </td>
                    <td *ngIf="isLogged">
                        <button title= "Eliminar experiencia" class="btn btn-danger" (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash-fill"></i> </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--
    <div class="row">
   <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr 
            <li><h1>Trabajo 1 </h1> -
            <h3>(years)</h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut sequi commodi non. Dolorum culpa possimus quo tempore veritatis. Quibusdam nisi qui aut vitae deserunt at soluta sequi quod facere sint!
            </p>
        </ul>
        <ul>
        <li>
            <h1>Trabajo 2 </h1> -
            <h3>(years)</h3>
        </li>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut sequi commodi non. Dolorum culpa possimus quo tempore veritatis. Quibusdam nisi qui aut vitae deserunt at soluta sequi quod facere sint!
        </p>
        </ul>
        <ul>
        <li>
            <h1>Trabajo 3 </h1> -
            <h3>(years)</h3>
        </li>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut sequi commodi non. Dolorum culpa possimus quo tempore veritatis. Quibusdam nisi qui aut vitae deserunt at soluta sequi quod facere sint!
        </p>
        </ul>
    </div>
    
-->